body{
  color: rgb(98, 250, 255);
    background-color: #000000;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a {
    color: rgb(98, 205, 255);
    text-decoration: none;
}
h1{
    color: rgb(255, 255, 255);
    margin-top: 5%;
    text-align: center;
    font-size: 500%;
}
h2{
color: rgb(255, 255, 255);
text-align: center;
font-size: 200%;
}
h3{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 8%;
    font-size: 150%;

}
p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 120%;
    margin-top: 2%;
    text-transform: uppercase;
    text-align: justify;
    padding: 0px 500px;
}
h4{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10%;
    font-size: 420%;
}
video{
    width: 30%;
    height: auto;
    padding:0px 700px ;
}
